body {
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(75, 65, 65, 0); /* Slightly transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

.form-input {
    padding: 10px;
    margin-bottom: 15px;
    color: #00000000;
    border: 1px solid #09d4f8;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button {
    padding: 15px;
    background-color: #38b7ce;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #f1f50f;
}